
.ipynb_checkpoints/Introducción-checkpoint.ipynb
.ipynb_checkpoints/Aplicaciones-checkpoint.ipynb
.ipynb_checkpoints/Fundamentos-checkpoint.ipynb
.ipynb_checkpoints/Anexos-checkpoint.ipynb
.ipynb_checkpoints/Keras-checkpoint.ipynb
.ipynb_checkpoints/Migración TF1 a TF2-checkpoint.ipynb
.ipynb_checkpoints/TensorFlow1-checkpoint.ipynb
.ipynb_checkpoints/TensorFlow2-checkpoint.ipynb
.ipynb_checkpoints/Perceptrón-checkpoint.ipynb
